@import "tailwindcss";

:root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #BDA867;
}

body {
  margin: 0;
}


img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.icon {
  user-drag: auto !important;
  -webkit-user-drag: auto !important;
  user-select: auto !important;
  -moz-user-select: auto !important;
  -webkit-user-select: auto !important;
  -ms-user-select: auto !important;

  cursor: pointer !important;
}